@import '../../../static/index';

.buttons {
  display: flex;

  &__previousButton {
    @include button;
  }

  &__nextButton {
    @include button;

    justify-content: space-between;
    padding: 0 28px;
    background: linear-gradient(to left, #282828 0%, #000000 100%);
    color: #ffffff;
    border-radius: 50px;
    font-family: 'Px Grotesk';
    font-size: 20px;
    width: 200px;
  }
}