@import '../../../static/index';

.navbar {
  height: 180px !important;
  margin: 70px;
  width: auto !important;

  &__group {
    height: 100% !important;
    width: 100%;

    &__tabs {
      width: 100%;

      &>div {
        justify-content: space-around;
      }
    }

    &__tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px !important;
      color: #616161 !important;

      &__icon {
        order: -1;
        margin-bottom: 20px;
      }
    }
  }
}

.slider {
  margin: 50px 90px;
  height: 250px;
  position: relative;

  &>button:before {
    color: #00d664
  }

  &>div>div>div {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 0 15px;
    width: 320px !important;
    border-radius: 10px;
    cursor: pointer;
  }

  &>div {
    height: 300px;
  }

  &__imageContainer {
    height: 100%;
    overflow: hidden;

    &__image {
      height: 180px;
      width: 100%;
    }

    &__text {
      padding: 22px 15px;
      height: 70px;
      font-size: 14px;
      color: #616161;
    }
  }
}