.card {
  background-color: #fafbff;
  min-height: 230px;
  height: auto;
  border: 0px;
  box-shadow: 2px 7px 7px 0 rgba(0, 0, 0, 0.125); 
  border-radius: 10px !important;
}

.cardTitle {
  font-size: 25px !important;
  font-weight: 600 !important;
}

.clientsContainer {
  margin-top: 50px !important;
  width: 100%;
  height: 850px;
  background-color: rgba(128, 128, 128, 0.123);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/static/images/map.gif');
  background-size: cover;

}

.client__text {
  font-family: 'Open Sans';
  font-weight: 600;
  padding-bottom: 70px;
}

.client {
  width: 60%;
  height: 60%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.125); 
  border-radius: 10px;
}

.client__image {
  position: relative;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  top: -50px;
}

.client__review {
  padding-top: 15px;
  padding-right: 10%;
  padding-left: 10%;
}

.registerContainer {
  margin-top: 50px;
  min-height: 550px;
  width: 100%;
  background-color: #fff;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  object-fit: cover;
  overflow: hidden;
}

.register__image {
  display: flex;
  justify-content: center;
  background-color: #ffffff27;
  align-items: center;
  height: 300px;
  width: 300px;
  box-shadow: 5px 3px 15px 0 rgba(10, 10, 10, 0.15); 
  border-radius: 100%;
}

.register__button {
  margin-top: 45px;
  border-radius: 25px !important;
  height: 50px;
  width: 300px;
}

.partenersContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 100%;
}

.registerRow {
  width: 60%;
}

@media (max-width: 1024px) { 
  .register__image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-top: 20px;
  }

  .register__button {
    margin-top: 25px;
    width: auto;
  }
}

@media (max-width: 991.98px) { 
  .registerRow {
    width: 100%;
  }
}
