$max-mobile-width: 576px;
$desktop-width: 1024px;
$portrait: 'screen and (orientation: portrait)';

@mixin mobile {
  @media only screen and (max-width: #{$max-mobile-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$max-mobile-width}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin landscapeOrientation {
  @media only screen and (orientation: landscape) and (min-width: #{$max-mobile-width}) {
    @content;
  }
}

@mixin portraitOrientation {

  @media only #{$portrait} and (min-width: #{$max-mobile-width}),
  only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  background: none !important;
  box-shadow: none !important;
  font-size: 20px !important;

  &:hover:enabled {
    opacity: .8;
  }

  &:disabled {
    opacity: .2;
  }
}

@mixin secondaryButton {
  @include button;
  color: #000000 !important;
}

@mixin primaryButton {
  background-color: #00d664 !important;
  border: none !important;
  font-size: 20px !important;
}