@import '../../../static/index';

.roundButton {
  @include button;
  flex-direction: column;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #000000;

  &__line {
    background: #ffffff;
    height: 2px;
    width: 10px;
    margin: 1px;
  }
}

.button {
  @include button;
  justify-content: flex-start;
}